body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF
  
img {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
}

/* Styles go here */

body{
    font-family: "Eau Naturelle", "Helvetica", "Arial", "Lucida Grande", "Gill Sans", "Verdana", sans-serif;
    font-weight:100;
    color: #eee;
    background-color: #222; 
}

#canvas{
  border-bottom: 1px solid rgba(0,0,0,0.3); 
  background-color: #123;
  box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8);
}

#d{
  text-align: center;
}

h1{
  color: #eee;
  font-family: "Eau Naturelle", "Helvetica", "Arial", "Lucida Grande", "Gill Sans", "Verdana", sans-serif;
  font-weight: 500;
}

/* Disable selection highlight on drag. */
canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
